body { margin: 0; 
    padding: 0; 
    background: url('../images/beerback.jpg') no-repeat;
    background-size: cover;
}

#wrapper {display: flex;}

#map {position: relative; 
    top: 15px;
    left: 12.5%;
    width: 75%; 
    height: 400px; 
    border: solid;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {color: blue;}
p{color: blue;}



#info {position: relative; 
    top: 15px;
    left: 12.5%;
    width: 75%; 
}
.input{
  text-align: center;
  margin: 100px auto;
}

input[type="submit"]{
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.input input[type="text"]{
  width: 600px;
  height: 40px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.card{
  width: 50%;
  background: #e7e7e7;
  margin: 50px auto;
  border-radius: 2px;
}


.card p{
  text-align: center;
  margin:40px 0;
  font-size:20px;
}