*{
    box-sizing: border-box;
    
}

body { margin: 0; 
    padding: 0; 
}

#wrapper {display: flex;}

#map {position: relative; 
    top: -50px;
    left: 18%;
    width: 63%; 
    height: 400px; 
    border: solid;
    border-color: #2873AD;
}



p{color: black;}



#info {position: relative; 
    top: 15px;
    left: 12.5%;
    width: 75%; 
}
.input{
  text-align: center;
  margin: 40px auto;
}

input[type="submit"]{
  padding: 10px;
  background: #2873AD;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.input input[type="text"]{
  width: 400px;
  height: 40px; 
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 21px;
}

.card{
  width: 10%;
  background: #2873AD;
  margin: 10px auto;
  border-radius: 2px;
}


.card p{
  text-align: center;
  margin: 20px 0;
  font-size:20px;
    color: white;
}
.padding {
    padding: 50px
}

.snyd {
    width: 100%;
    z-index: 0;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}